#!/usr/bin/env bash

while true
do
  if ! systemctl is-active {{ item.path | regex_replace ('^/', '') | regex_replace ('/$', '') | replace('/', '-') }}.automount -q
  then
    sudo systemctl restart {{ item.path | regex_replace ('^/', '') | regex_replace ('/$', '') | replace('/', '-') }}.automount
    echo {{ item.path | regex_replace ('^/', '') | regex_replace ('/$', '') | replace('/', '-') }}.automount restarted
    sleep 3
  fi
  sleep 10
done
