[Unit]
Description=nfs-watcher for {{ item.path | regex_replace ('^/', '') | regex_replace ('/$', '') | replace('/', '-') }}
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/{{ item.path | regex_replace ('^/', '') | regex_replace ('/$', '') | replace('/', '-') }}.nfs-watcher
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
