[Unit]
Description=Mount NFS share {{ item.location }} on {{ item.path }}

[Mount]
What={{ item.location }}
Where={{ item.path }}
Options={{ item.options | default('noauto') }}
Type=nfs
TimeoutSec={{ item.timeout | default(120) }}

[Install]
WantedBy=multi-user.target
